@import url('http://fonts.cdnfonts.com/css/circular-std');

.xs-text {
    font-size: 10px;
}

.sm-text {
    font-size: 16px;
}

.normal-text {
    font-size: 18px;
}

.xl-text {
    font-size: 20px;
}

.xl2-text {
    font-size: 25px;
}

.container-80 {
    padding: 0 20%;
}

.dark-white {
    color: #ABAFB3;
}

.font-circular {
    font-family: 'Circular Std', sans-serif;
}

.light-bg {
    background: #f0edfa;
}